/Pizza_Classifier/.idea
/Pizza_Classifier/not_pizza.npy
/Pizza_Classifier/pizza.npy
/Pizza_Classifier/save.pth
/Pizza_Classifier/save4.pth
/KMeans_shopping_data/.idea
/Rating_Predict/.idea
/Housing_Regresson/.idea
/Housing_Regresson/house_data.csv